.squiggly {
	display: inline-block;
	position: relative;
}

.squiggly.smaller {
	--afterMarginTop: 0;
}

.squiggly.medium {
	--afterMarginTop: -0.2em;
}

.squiggly:not(.inactive)::after {
	background-color: var(--colorSecondary);
	content: "";
	display: block;
	height: 0.25em;
	margin-top: var(--afterMarginTop);
	opacity: 0;
	position: absolute;
	transition:
		var(--transitionMedium) opacity,
		var(--transitionMedium) background-color;
	width: 100%;
	mask: var(--squiggle) repeat-x;
	mask-size: contain;
	-webkit-mask: var(--squiggle) repeat-x;
	-webkit-mask-size: contain;
}

.squiggly.passive::after {
	filter: blur(0.7px) opacity(0.7);
}

.squiggly:is(.alwaysActive, .passive, :focus-visible, :hover):not(
		.inactive
	)::after {
	opacity: 1;
}
